body
{
    margin: 0;
    background-color: black;
}
.cont
{
    width: 100%;
    max-height: 40%;
    padding: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seta
{
    background-color: blue;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    position: fixed;
    bottom: 5%;
    left: 47.5%;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    opacity: 80%;
    z-index: 100;
}
#a
{
    color: blue;
    
}
h1
{
    color: blue;
}
#ativo
{
    padding:6px;
    border-radius:50% 50% 90% 40%;
    background-color: red;
    color:white;
}
.form
{
    justify-content: flex-start;
    align-items: center;
}
.simimg
{
    width: 14vw;
    height: 14vw;
    background-color: lightskyblue;
    border-radius: 5%;
    box-shadow: 6px 6px 6px 0 black;
}
.text
{
    max-width: 30%;
    max-height: 30%;
    margin: 0 15% 0 0;
}
.slideshow-container
{
    position: relative;
	color: black;
}
.slide
{
    display: flex;
    justify-content: center;
	margin:0;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	margin-top: 10%;
	padding: 1%;
	color: white; 
	font-size: 1vw;
	transition: 1s ease;
  }
.next:hover
{
	color: red;
	text-decoration: none;
	opacity: 100%;
}
.prev:hover
{
	color: red;
	text-decoration: none;
	opacity: 100%;
}
  .next {
    right: 0;
	border-radius: 3px 0 0 3px;
	background-color: black;
	opacity: 50%;
  }
  .prev {
    left: 0;
	border-radius: 3px 0 0 3px;
	background-color: black;
	opacity: 50%;
  }
  .dot {
	cursor: pointer;
	height: 0.8vw;
	width: 0.8vw;
	margin: 0 2px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  .divdot
  {
    text-align:center;
  }
  .ativo
{
    background-color: red;
}
.span1
{
    max-height: 65%;
    max-width: 65%;
}
.spanlogo
{
    margin: 1% 0 0 0;
    color:darkslategrey;
    max-width: 6vw;
    max-height: 6vw;
}
.pessoasimg
{
    padding: 75px;
    max-width: 60%;
}
.h1pess
{
    display: block;
    padding: 75px;
    font-size: 2vw;
}
@media only screen and (max-width: 1100px) {
	ul li{display: none;}
    nav{max-height: 11vw;}
    .spanlogo{margin: 0 0 0 0;}
    body{overflow-x: hidden;}
    .h1pess{padding: 0;}
  }
@media only screen and (max-width: 500px) {
	ul li{display: none;}
    nav{max-height: 11vw;}
    .spanlogo{margin: -6% 0 0 0;}
    body{overflow-x: hidden;}
    .pessoasimg{max-width:100%;margin:0 0 0 0}
    .h1pess{padding: 0;margin-left: 15%;}
  }